body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.error{
    color: #f44336;
}

@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        display: block;
    }
}

.opcionesHome2{
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: none;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 1.1em;
    font-size: 0.7em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.3em #999;
}

.opcionesHome3{
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: solid 1px grey;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    padding: 0.5em 1.1em;
    font-size: 0.7em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.3em #999;
}

.acertadas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.opcionesHome4{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: solid 1px grey;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    padding: 0.5em 1.1em;
    font-size: 0.7em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.3em #999;
}

#sugerida{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
}



/* FORMULARIO*/


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

header, .headerIniciado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    border-bottom: white 1px solid;
}

.h1 h1{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Anime Ace', sans-serif;
    animation: aparecer 2s ease-in-out;
}

.sugerirPregunta h1{
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Anime Ace', sans-serif;
    width: 20%;
    animation: aparecer 2s ease-in-out;
    border-radius: 20%;
}

.sugerirPregunta{
    margin-bottom: 1em;
}

.h1{
    background-color: white;
    width: 100%;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.titulo {
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    animation: aparecer 2s ease-in-out;
}

.tituloPrincipal{
    text-align: center;
    padding: 4px;
    color: white;
    font-size: 4em;
}

#genero, #foto, #mapa{
    font-weight: bold;
}

#perdiste{
    color: white;
    text-align: center;
    font-size: 5em;
    animation: aparecer 2s;
}

.perder{
    font-family: 'Cinzel', serif;
    background-image: url("/public/perder.webp");
    background-size: cover;
    height: 90vh;
    width: 100%;
    position: relative;
    padding-top: 1.3em;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 h2{
        background-color: white;
        font-weight: bold;
        width: 15%;
        color: black;
        border: none;
        padding: 0.5em 1.2em;
        font-size: 1.3em;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        border-radius: 1em;
        box-shadow: 0 5px #999;
        position: absolute;
        bottom: 0; 
}

.container2 h2:hover{
    background-color: #817392; 
    font-weight: bolder;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1.05);
    color: white;
}

form {
    display: flex !important;
    margin-top: 1.2em !important;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*/////////////////////////////////// HOME JUEGO ///////////////////////////////////*/

.fondoHome{
    background-image: url("/public/fondo_juego.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.contenedorMain{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.carrusel {
    display: flex;
    overflow-x: hidden; 
    scroll-snap-type: x mandatory;
}

.carrusel div {
    flex: 0 0 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: transform 0.5s ease; 
}

.carrusel img {
    width: 50em; 
    height: 22em;
    object-fit: cover; 
    display: block;  
    border: solid 5px #999;
}

.homeJuegoII{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.botonIniciar input[type=submit]{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: none;
    font-weight: bold;
    display: inline-block;
    padding: 1em 1.4em;
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.7empx #999;
}

.botonIniciar input[type=submit]:hover{
    background-color: #817392; 
    font-weight: bolder;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1.05);
    color: white;
}


h2{
    color: white;
    animation: aparecer 2s ease-in-out;
}

.opcionesHome{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: none;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 0.6em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.3em #999;
}

.opcionesHome:hover, .opcionesHome2:hover, .opcionesHome3:hover, .opcionesHome4:hover{
    background-color: #817392; 
    font-weight: bolder;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1.05);
    color: white;
}


/* Estilos para tablets y peque침as pantallas (de 600px a 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .carrusel img {
        width: 40em; 
        height: 18em;
    }

    .botonIniciar input[type=submit] {
        font-size: 1.4em; 
    }

    .opcionesHome {
        font-size: 0.7em; 
    }
}

/* Media queries responsive pantallas peque침as Header */
@media (max-width: 768px) {
    .fondoHome {
        background-size: cover; 
    }

    .carrusel img {
        width: 100%; 
        height: auto; 
    }

    .botonIniciar input[type=submit], .opcionesHome {
        font-size: 1em;
    }
}


/*/////////////////////////////////// CATEGORIAS ///////////////////////////////////*/


.POKEMON{
    background-image: url('/public/pokemon.jpg');
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    height: 100vh;
}

.SHINGEKI_NO_KYOJIN{
    background-image: url('/public/shingeki_no_kyojin2.jpg');
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    height: 100vh;
}

.BANANA_FISH{
    background-image: url('/public/bananaFish.png');
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    height: 100vh;
}

.DEATH_NOTE{
    background-image: url('/public/deathNote.webp');
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    height: 100vh;
}

.HAIKYUU{
    background-image: url('/public/haikyuu.png');
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    height: 100vh;
}

/*/////////////////////////////////// REGISTRO ///////////////////////////////////*/

.ingresa{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 2px;
}

.ingresa a{
    text-decoration: none;
    color: black;
}

.ingresa a:hover{
    font-size: large;    
    font-weight: bold;
}

.containerRegistro0{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    animation: aparecer 2s ease-in-out;
}

.juegoIniciadoI{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.juegoIniciado{
    width: 100%;
    background-color: #817392; 
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    color: #ffffff;
}

.containerRegistro, .containerRegistroSugerir, .container input[type=text], select{
    width: 100%;
    padding: 1.4em 2em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  .containerRegistro input[type=submit], .containerRegistroSugerir input[type=submit]{
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 1em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.containerRegistro input[type=submit]:hover , .containerRegistroSugerir input[type=submit]:hover{
    background-color: #2ec235;
  }

.activarCuenta article{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
}

.registroAnimeTest, .sugerirPregunta {
    position: relative;
}


.registroAnimeTest::before , .sugerirPregunta::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url("/public/fondoAnime.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

.sugerirPregunta h2{
    color: black;
}

/*/////////////////////////////////// LOGIN ///////////////////////////////////*/


input[type=text], input[type=password] {
    width: 100%;
    padding: 0.8em 1.2em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*/////////////////////////////////// FOOTER ///////////////////////////////////*/

footer p{
    text-align: center;
    color: white;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    border-top: white 1px solid;
}

/*/////////////////////////////////// FOOTER ///////////////////////////////////*/

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bold;
}

/*/////////////////////////////////// JUEGO ///////////////////////////////////*/

.obtenidos, .contador{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
    margin-bottom: 0px;
}

.contador {
    background-color: white; 
    color: black; 
    padding: 5px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    font-family: 'Arial', sans-serif; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
    justify-content: center;
    align-items: center;
}


.obtenidos {
    width: 100%;
    background-color: #817392; 
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    color: #ffffff;
}

.obtenidos p {
    font-weight: bold; 
}

.preguntaAleatoria{
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); 
    font-size: 1.2em;
    border: solid black 2px;
    margin: auto;
}
.pregunta{
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 10px; 
}

.preguntas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.preguntas input[type="submit"] {
    padding: 0.7em;
    border: 2px solid black; 
    background-color: white;
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin: 3px;
    width: 30%;
    border-radius: 0.7em;
}

.preguntas input[type="submit"]:hover {
    background-color: #817392; 
    font-weight: bold;
}

.reportar form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.reportar input[type="submit"] {
    border: 2px solid red; 
    background-color: white;
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: auto;
    border-radius: 0.8em;
    width: 10%;
    padding: 0.8em;
}

.reportar input[type="submit"]:hover {
    background-color: #cea32c; 
    font-weight: bold;
}

/* Media queries para pantallas m치s peque침as (p. ej., menos de 768px) */
@media (max-width: 768px) {
    .obtenidos, .contador {
        flex-direction: column;
        margin: 0; 
    }

    .contador {
        padding: 10px;
        font-size: 1em; 
    }

    .obtenidos p {
        font-size: 1em;
    }

    .preguntaAleatoria {
        font-size: 1em; 
        height: auto; 
    }

    .container {
        flex-direction: column;
    }

    .preguntas input[type="submit"] {
        width: 80%; 
        padding: 10px; 
    }

    .reportar input[type="submit"] {
        width: 60%; 
        padding: 10px; 
    }
}

/*/////////////////////////////////// RANKING ///////////////////////////////////*/

.fondoRanking {
    padding: 1.4em; 
    font-family: 'Arial', sans-serif; 
    position: relative;
}

.fondoRanking::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url("/public/fondoAnime.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

.contenedorRanking , .containerRegistro, .containerRegistroSugerir{
    max-width: 50em; 
    margin: 0 auto; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 1.2em; 
    border-radius: 0.5em; 
}

.containerRegistro{
    margin-bottom: 3em;
    margin-top: 3em;
}

.error {
    color: #d9534f; 
    margin-bottom: 1.2em;
    font-weight: bold;
}

.rankingPersonal h1,
.rankingGlobal p {
    color: #333; 
    margin-bottom: 0.7em; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 1.2em; 
}

table th,
table td {
    text-align: center; 
    padding: 0.7em; 
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
}

table th {
    background-color: #817392; 
    color: white; 
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

a {
    color: black;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.fondoRanking h1 {
    text-align: center;
    font-size: 2em;
    color: black;
}

#data-box {
    width: 25em;
    height: 19em;
    overflow-y: scroll;
}

.contenedorPerfil article{
   text-align: center;
    background-color: white;
    width: 50%;
    border: #333 solid 5px;
}

.contenedorPerfil img{
    width: 30%;
    height: auto;
    border: #333 solid 2px;
    border-radius: 50%;
}

.contenedorPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.7em;
    flex-direction: column;
}

.qr img{
    width: 10em; height: 10em;
    border: black 1 px solid;
    border-radius: 0%;
    margin: 5px;
}

.qr{
    border-top: none;
}

.perfilRanking{
    border-bottom: none;
}

.contenedorPerfil2 article{
    text-align: center;
    font-size: 1.2em;
     
 }
 
 .perfilRanking img{
    width: 30%;
     height: auto;
     border: #333 solid 2px;
     border-radius: 50%;
     margin: 1em;
 }
 
 .contenedorPerfil2{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0.8em;
     flex-direction: column;
     border: #333 solid 5px;
     background-color: white;
     width: 40%;
 }

 .contenedorRanking2{
    display: flex;
    align-items: center;
    justify-content: center;
}