<p>¡ Bienvenido a Animé Test!</p>
<p>Por favor activa tu cuenta ingresando el código de validación:</p>
<form action="validarCuenta" method="POST">
        <input type="text" placeholder="Ingrese su código" name="hashUsuario" required>
        <h2>Ingrese su código de validación: </h2>
        <br>
        <input type="submit" class="preguntaSugerida" value="Enviar">
</form>
<br><br>
<p>Si tú no solicitaste esta cuenta, ignora este mensaje.</p>