<main>
<section class="editarPregunta">
<br>
<h1>Editor de preguntas</h1>
<form action="/editarPregunta/editar" class="" method="PUT">
        <h2>Pregunta:</h2>
        <input type="text" placeholder="{{pregunta}}" name="pregunta" required>
        <h2>Respuestas: </h2>
        <input type="text" placeholder="{{respuestas.0}}" name="respuestaA" required>
        <input type="text" placeholder="{{respuestas.1}}" name="respuestaB" required>
        <input type="text" placeholder="{{respuestas.2}}" name="respuestaC" required>
        <input type="text" placeholder="{{respuestas.3}}" name="respuestaD" required>
        <label for="categoria"><h2>Categoria</h2></label>
        <select id="categoria" name="id_categoria">
        <div>
        <option value="1" name="1">POKEMON</option>
        <option value="2" name="2">SHINGEKI NO KYOJIN</option>
        <option value="3" name="3">BANANA FISH</option>
        <option value="4" name="4">DEATH NOTE</option>
        <option value="5" name="5">HAIKYUU</option>
        </div>
        </select>
        <div id="editar">
        <input type="submit" class="" value="Enviar">
        </div>
</form>
</section>
</main>
