<main class="registroAnimeTest" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <section class="containerRegistro" style="width: auto; margin: auto;">
        <h1> Envió exitoso.</h1>
        <a href="/homeJuego"><input type="submit" value="Volver"></a>
    </section>
</main>
