<main>
<section>
<h1>Su pregunta reportada se envió exitosamente.</h1>
    <form action="/juegoIniciado/validarRespuesta" method="post">
        <input type="submit" class="preguntaReportada" name="0" value="Volver"></a>
    </form>


</section>
</main>