<main>
<section>
<h1>Su pregunta reportada se envió exitosamente.</h1>

        <a href="juegoIniciado"><input type="submit" class="preguntaReportada" value="Volver al juego"></a>
        <a href="/homeJuego"><input type="submit" class="preguntaReportada" value="Volver al HOME"></a>

</section>
</main>