<main class="fondoHome">
    <section class="contenedorMain">
     <article>
        <h1 class="titulo">{{nombre}}</h1>
      </article>
      <article>
          <form action="/homeJuego/iniciarJuego" method="POST">
              <input class="botonIniciar" type="submit" value="Iniciar Partida">
          </form>
      </article>
    </section>
</main>

