<main class="fondoHome">
    <section class="contenedorMain" style="display: flex;flex-direction: row;justify-content: space-around">
        <style>
            #scrollable-box {
                height: 200px;
                overflow-y: scroll;
                width: 600px;
                align-self: center;
                position: relative;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            th, td {
                padding: 8px;
                border: 1px solid #ddd;
                text-align: left;
            }

            th {
                position: sticky;
                top: 0;
                background-color: #f2f2f2;
            }
        </style>
        <article>
             <p style="color:white; padding-top: 15px; padding-bottom: 15px;"><strong>Actualmente hay {{cantidadUsuarios}} usuarios registrados.</strong></p>
            <div id="scrollable-box" style="height: 400px; overflow-y: scroll;width: 600px; align-self: center;background-color: white">
                <table>
                    <thead>
                    <tr>
                        <th>ID Usuario</th>
                        <th>Nombre Completo</th>
                        <th>Nombre de Usuario</th>
                        <th>Correo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Genero</th>
                        <th>Pais</th>
                        <th>Ciudad</th>
                        <th>Nivel</th>
                        <th>Activo</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    {{#usuarios}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{nombreCompleto}}</td>
                            <td>{{username}}</td>
                            <td>{{mail}}</td>
                            <td>{{fechaNac}}</td>
                            <td>{{genero}}</td>
                            <td>{{pais}}</td>
                            <td>{{ciudad}}</td>
                            <td>{{nivelUsuario}}</td>
                            <td>{{activo}}</td>
                            <td><form action="/homeAdmin/desactivarCuenta" method="post">
                                <input type="hidden" value="{{mail}}" name="correo">
                                <input type="submit" value="Desactivar" class="opcionesHome4" onclick="return confirmarDesactivar()"></form></td>
                            <script>
                                function confirmarDesactivar() {
                                    var confirmacion = confirm("¿Estás seguro de que deseas desactivar esta cuenta?");

                                    return confirmacion;
                                }
                            </script>
                        </tr>
                    {{/usuarios}}
                    </tbody>
                </table>
            </div>
        </article>
        <article>
            <p style="color:white; padding-top: 15px; padding-bottom: 15px;"><strong>Actualmente hay {{cantidadPreguntas}} preguntas.</strong></p>
            <div id="scrollable-box" style="height: 400px; overflow-y: scroll;width: 600px; align-self: center;background-color: white">
                <table>
                    <thead>
                    <tr>
                        <th>ID Pregunta</th>
                        <th>Pregunta</th>
                        <th>ID Categoria</th>
                        <th>Dificultad Pregunta</th>
                        <th>Cantidad Entregada</th>
                        <th>Cantidad Acertada</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#preguntas}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{pregunta}}</td>
                            <td>{{id_categoria}}</td>
                            <td>{{nivelPregunta}}</td>
                            <td>{{cantidadEntregada}}</td>
                            <td>{{cantidadAcertada}}</td>
                        </tr>
                    {{/preguntas}}
                    </tbody>
                </table>
            </div>
        </article>
    </section>
</main>

