<main class="fondoHome">
    <section class="contenedorMain">
     <article>
        <h1 class="titulo">{{nombre}}</h1>
      </article>
        <article>
            <p>HOLA MR/MRS ADMIN</p>
        </article>
    </section>
</main>

