
<body class="{{categoria}}">

<p class="pregunta">{{pregunta}}</p>

<ul>

</ul>

<form action="juegoIniciado/enviarRespuestaDelUsuario">
<button type="submit" value="">{{respuestas.0}}</button>
<button type="submit" value="">{{respuestas.1}}</button>
<button type="submit" value="">{{respuestas.2}}</button>
<button type="submit" value="">{{respuestas.3}}</button>
</form>

</body>