<main>
    <section class="contador">
        <div id="contador">Redirigiendo en {{ contador }} segundos</div>
        <script src="../third-party/contador.js"></script>
    </section>
    <section>
        <p>Puntos Obtenidos: {{puntosPartida}}</p>
    </section>
    <section class="{{categoria}}">
        <article>
            <h1 class="pregunta">{{pregunta}}</h1>;
        </article>
        <article class="container">
            <form action="validarRespuesta" method="POST" >
                <input type="submit" value="{{respuestas.0}}" name="{{respuestasCorrecta.0}}">
                <input type="submit" value="{{respuestas.1}}" name="{{respuestasCorrecta.1}}">
                <input type="submit" value="{{respuestas.2}}" name="{{respuestasCorrecta.2}}">
                <input type="submit" value="{{respuestas.3}}" name="{{respuestasCorrecta.3}}">
            </form>
        </article>
        <article>
        <div id="reportar">
         <form action="reportarPregunta" method="POST">
         <input type="hidden" name="pregunta" value="{{pregunta}}">
            <input type="submit" value="Reportar">
         </form>
        </div>
        </article>
    </section>
</main>

