<h1 class="h1">Anime Test</h1>

<section class="registroAnimeTest">
<form action="/login/validarLogin" method="POST">
    <div class="containerRegistro0">
    <h3 style="text-align: center">Iniciar sesion</h3>
    </div>
    <div class="imgcontainer">
    </div>{{error}}
    <div class="containerRegistro">
        <label for="correo"><b>Direccion de Correo</b></label>
        <input type="text" placeholder="Ingrese direccion de Correo" name="correo" required>
        <label for="password"><b>Contraseña</b></label>
        <input type="password" placeholder="Ingrese la Contraseña" name="password" required>
        <span style="color: #f44336">{{error}}</span>
        <input type="submit" class="botonFormularioInicio" value="Iniciar Sesion">
    </div>
</form>
</section>

<section class="ingresa">
    <p>¿Nuevo en Anime Test?<a href="/registro"> ¡Create una cuenta!</a></p>
</section>
