<main class="fondoHome">
    <section class="contenedorMain">
      <article>
          <h2>Panel de Preguntas</h2>
          <style>
              table,th,td{
                  border: 1px solid;
              }

              table{
                  border-collapse: collapse;
                  background-color: white;
              }
          </style>

          <div style="margin-bottom: 1em">

          </div>
          <div id="scrollable-box" style="overflow-y: scroll; height: 600px; background-color: gray">
              <table>
                  <thead>
                  <tr>
                      <th>ID Pregunta</th>
                      <th>Pregunta</th>
                      <th>ID Categoria</th>
                      <th>Opcion 1</th>
                      <th>Opcion 2</th>
                      <th>Opcion 3</th>
                      <th>Opcion 4</th>
                      <th>Dificultad</th>
                      <th></th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#sugeridas}}
                      <tr>
                          <td>{{id}}</td>
                          <td>{{preguntaSugerida}}</td>
                          <td>{{id_categoria}}</td>
                          <td>{{respuestaSugeridaA}}</td>
                          <td>{{respuestaSugeridaB}}</td>
                          <td>{{respuestaSugeridaC}}</td>
                          <td>{{respuestaSugeridaD}}</td>
                          <td>{{nivelPregunta}}</td>
                          <td>
                              <form action="/homeEditor/editarSugerida" method="POST">
                                  <input type="hidden" value="{{id}}" name="editar">
                                  <input type="submit" value="Aprobar">
                              </form>
                          </td>
                          <td>
                              <form action="/homeEditor/eliminarSugerida" method="POST" >
                                  <input type="hidden" value="{{id}}" name="eliminar">
                                  <input type="submit" value="Rechazar" onclick="return confirmarEliminarPregunta()"></form></td>
                          <script>
                              function confirmarEliminarPregunta() {
                                  var confirmacion = confirm("¿Estás seguro de que deseas eliminar esta pregunta?");
                                  return confirmacion;
                              }
                          </script>
                          </td>
                      </tr>
                  {{/sugeridas}}
                  </tbody>
              </table>
          </div>
      </article>
    </section>
</main>

