<main>
<section>
    <article>
        <h1 id="perdiste">YOU LOSE</h1>
    </article>
    <article class="container2">
        <h2><a href="/homeJuego">Volver al juego</a></h2>
    </article>
</section>
</main>