<head>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Cardo&display=swap" rel="stylesheet">
</head>
<main>
<section class="perder">
        <h1 id="perdiste">YOU LOSE</h1>
    <article class="container2">
        <h2><a href="/homeJuego">Volver al juego</a></h2>
    </article>
</section>
</main>