<main class="registroAnimeTest">
    <section class="contenedorRanking2">
    <div class="contenedorPerfil2">
       <article class="perfilRanking">
           <img src="/public/imagenesPerfil/{{img}}">
           <p><strong>Usuario: {{username}}</strong></p>
           <p><strong>Género: {{genero}}</strong></p>
           <p><strong>País: {{pais}}</strong></p>
           <p><strong>Nivel: {{nivel}}</strong></p>
        </article>
        <article class="qr">
            <img src="/public/QR_Usuario/{{id}}.png" alt="">
        </article>
    </div>
    </section>
</main>
