<main>
    <section class="contenedorPerfil">
        <article class="error">
            {{error}}
        </article>
        <article class="perfil">
            <div style="display: flex; flex-direction: row">
                <div style="width: 60px; height: 60px;"><img src="img"></div>
                <p>{{user}}</p>
            </div>
            <div style="width: 400px; height: 400px;"> {{qr}} </div>

        </article>
    </section>
</main>