<main>
    <section class="contenedorPerfil">
        <article>
            <img src="/public/imagenesPerfil/{{img}}">
        </article>
        <article>
            <p>Usuario: {{user}}</p>
            <p>Nombre Completo: {{nombreCompleto}}</p>
            <p>Direccion de Mail: {{mail}} </p>
            <p>Fecha de Nacimiento: {{fechaNac}}</p>
            <p>Género: {{genero}}</p>
            <p>País: {{pais}}</p>
            <p>Ciudad: {{ciudad}}</p>
            <p>Nivel: {{nivel}}</p>
        </article>

    </section>
</main>