<main>
    <section class="contenedorPerfil">
       <article>
           <img src="/public/imagenesPerfil/{{img}}">
       </article>
       <article>
           <p>Usuario: {{user}}</p>
           <p>Género: {{genero}}</p>
           <p>País: {{pais}}</p>
       </article>
        <article style="width: 400px; height: 400px;">
            <img src="/public/QR_Usuario/{{id}}.png" alt="">
        </article>
    </section>
</main>