<p>preguntas</p>
        <p>Partidas totales: {{cantidadPartidasJugadas}}</p>
        <p>Preguntas totales: {{cantidadTotalPreguntas}}</p>
        <img src="/public/graficos/{{graficoPreguntasPorCategoria}}" alt="Preguntas por Categoría">




