<p>preguntas</p>
<p>Partidas totales: {{cantidadPartidasJugadas}}</p>
<p>Preguntas totales: {{cantidadTotalPreguntas}}</p>
<img src="/public/graficos/{{graficoPreguntasPorCategoria}}" alt="Preguntas por Categoría">

{{#mostrarBotonGenerar}}
    <form action="preguntas" method="post">
        <input type="hidden" name="generarPDF" value="1">
        <button type="submit">Generar PDF</button>
    </form>
{{/mostrarBotonGenerar}}