<main class="fondoRanking">
    <section class="contenedorRanking" style=" display: flex; flex-direction:column; justify-content: center; align-items: center; height: 100vh; ">
        <article class="error">
            {{error}}
        </article>

        <article class="rankingPersonal">
            <h1>RANKING PERSONAL</h1>
            <p><strong>PUNTAJE TOTAL PERSONAL: {{puntajeTotal}}</strong></p>
            <div id="scrollable-box" style="height: 300px; overflow-y: scroll;width: 600px; align-self: center;background-color: white">
                <table id="tablaPersonal">
                    <thead>
                    <tr>
                        <th>Posición</th>
                        <th>Puntaje</th>
                    </tr>
                    </thead>
                    <tbody id="ranking"></tbody>
                </table>
            </div>
        </article>
        <article class="rankingGlobal">
            <h1>RANKING GLOBAL</h1>
            <div id="scrollable-box" style="height: 300px; overflow-y: scroll;width: 600px; align-self: center;background-color: white">
                <table id="tablaGlobal">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Posición</th>
                        <th>Puntaje</th>
                    </tr>
                    </thead>
                    <tbody id="ranking"></tbody>
                </table>
            </div>
        </article>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {

        $.ajax({
            url: 'ranking/generarRankingPersonal',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                $.each(data, function (index, pos) {
                    $('#tablaPersonal tbody').append('<tr><td>' + pos.posicion + '</td><td>' + pos.puntaje + '</td></tr>');
                });
            },
            error: function (error) {
                console.log('Error al obtener datos para ranking personal: ' + error);
            }
        });


        $.ajax({
            url: 'ranking/generarRankingGlobal',
            type: 'GET',
            dataType: 'json',
            success: function (data2) {
                console.log(data2)
                $.each(data2, function (index, pos2) {
                    $('#tablaGlobal tbody').append('<tr><td><a href="/perfil?id=' + pos2.idPersonal + '">' + pos2.mail + '</a></td><td>' + pos2.posicion + '</td><td>' + pos2.puntaje + '</td></tr>');
                });
            },
            error: function (error) {
                console.log('Error al obtener datos para ranking global: ' + error);
            }
        });
    });
</script>

