<h1 class="h1">Anime Test</h1>

<section class="registroAnimeTest">
    <form action="/registro/validarRegistro" method="POST" enctype="multipart/form-data">
        <div class="containerRegistro0">
        <h3>Registrarse</h3>
        </div>
        <div class="containerRegistro">

            <label for="name"><b>Nombre completo</b></label>
            <input type="text" placeholder="Ingrese su nombre completo" name="name"  required>
            <br><br>

            <label style="text-align: center" for="username"><b>Nombre de usuario</b></label>
            <input type="text" placeholder="Ingrese su nombre de usuario" name="username"  required>
            <br><br>

            <label for="year"><b>Año de nacimiento</b></label>
            <input type="date" placeholder="Año de nacimiento" name="year"  required>
            <br><br>


            <label for="genero" id="genero">Género:</label>
            <select id="genero" name="genero" required>
                <option value="femenino">Femenino</option>
                <option value="masculino">Masculino</option>
                <option value="otro" selected>Otro</option>
            </select>
            <br><br>

            <label for="correo"><b>Direccion de Correo</b></label>
            <input type="text" placeholder="Ingrese direccion de Correo" name="correo"  required>
            <br><br>

            <label for="password"><b>Contraseña</b></label>
            <input type="password" placeholder="Ingrese la Contraseña" name="password" required>
            <br><br>

            <label for="password"><b>Confirmar Contraseña</b></label>
            <input type="password" placeholder="Ingrese nuevamente la Contraseña" name="confirmarPassword" required>
            <br><br>

            <label for="imagen" id="foto"> Seleccione una foto de perfil </label>
            <br><br>
            <input type="file" name="imagen" id="imagen" required>
            <br><br>

            <label for="mapa" id="mapa"> Seleccione su Ubicación</label><br><br>
            {{! <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNfDhFbufJ0z9sUm8N0zRteT2D__xiXpg&callback=initMap" async defer></script>

            <script src="initMap.js"></script>

            <!--<script>
                function initMap() {
                    const myLatlng = { lat: -25.363, lng: 131.044 };
                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 8,
                        center: myLatlng,
                    });
                    const marker = new google.maps.Marker({
                        position: myLatlng,
                        map,
                        title: "Mi Ubicación",
                    });
                } 
            </script>-->  

            <div id="map" style="height: 400px; width: 100%"></div>
            <input type="hidden" id="lat" name="lat" value="" required>
            <input type="hidden" id="lng" name="lng" value="" required>
            <span style="color: #f44336">{{error}}</span>
            }}
            <input type="submit" class="botonFormularioInicio" value="Registrarse">
        </div> 
    </form>
</section>

<section class="ingresa">
    <p>¿Ya tienes una cuenta? <a href="/login">¡Ingresá!</a></p>
</section>