<h1 class="h1">Anime Test</h1>

<section class="registroAnimeTest">
    <form action="/registro/validarRegistro" method="POST" enctype="multipart/form-data">
        <div class="containerRegistro0">
        <h3>Registrarse</h3>
        </div>
        <div class="containerRegistro">

            <label for="name"><b>Nombre completo</b></label>
            <input type="text" placeholder="Ingrese su nombre completo" name="name"  required>
            <br><br>

            <label style="text-align: center" for="username"><b>Nombre de usuario</b></label>
            <input type="text" placeholder="Ingrese su nombre de usuario" name="username"  required>
            <br><br>

            <label for="year"><b>Año de nacimiento</b></label>
            <input type="date" placeholder="Año de nacimiento" name="year"  required>
            <br><br>


            <label for="genero" id="genero">Género:</label>
            <select id="genero" name="genero" required>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
                <option value="Otro" selected>Otro</option>
            </select>
            <br><br>

            <label for="correo"><b>Direccion de Correo</b></label>
            <input type="text" placeholder="Ingrese direccion de Correo" name="correo"  required>
            <br><br>

            <label for="password"><b>Contraseña</b></label>
            <input type="password" placeholder="Ingrese la Contraseña" name="password" required>
            <br><br>

            <label for="password"><b>Confirmar Contraseña</b></label>
            <input type="password" placeholder="Ingrese nuevamente la Contraseña" name="confirmarPassword" required>
            <br><br>

            <label for="imagen" id="foto"> Seleccione una foto de perfil </label>
            <br><br>
            <input type="file" name="imagen" id="imagen" required>
            <br><br>

            <div id="map" style="width: 95%; height: 500px; margin: 20px;"></div>
            <input type="hidden" id="latitud" name="latitud" value="">
            <input type="hidden" id="longitud" name="longitud" value="">
            <input type="hidden" id="pais" name="pais" value="">
            <input type="hidden" id="ciudad" name="ciudad" value="">

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2iKSD1Xd0bd7xWDN_yRTBjyiJ1x0C_rI&callback=initMap" async defer></script>
            <script>
                var map;
                var geocoder;
                var selectedLatLng = null;
                var selectedCountry = null;
                var marker = null;
                var geocoderResults = null;

                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 0, lng: 0 },
                        zoom: 2,
                    });

                    geocoder = new google.maps.Geocoder();

                    map.addListener('click', function (e) {
                        if (marker) {
                            marker.setMap(null); // Elimina el marcador anterior
                        }
                        selectedLatLng = e.latLng;
                        geocodeLatLng(geocoder, map, selectedLatLng);
                    });
                }

                function geocodeLatLng(geocoder, map, latlng) {
                    geocoder.geocode({ location: latlng }, function (results, status) {
                        if (status === 'OK') {
                            geocoderResults = results;
                            if (results[1]) {
                                selectedCountry = getCountryFromGeocoderResults(results);
                                document.getElementById('pais').value = selectedCountry;
                                document.getElementById('ciudad').value = getCityFromGeocoderResults(
                                        results
                                );

                                // Actualiza los valores de latitud y longitud en los campos ocultos
                                document.getElementById('latitud').value = latlng.lat();
                                document.getElementById('longitud').value = latlng.lng();

                                // Agrega un marcador en el lugar donde hiciste clic
                                marker = new google.maps.Marker({
                                    position: latlng,
                                    map: map,
                                });
                            } else {
                                alert('No se encontraron resultados de geocodificación.');
                            }
                        }
                    });
                }

                function getCountryFromGeocoderResults(results) {
                    for (var i = 0; i < results.length; i++) {
                        for (var j = 0; j < results[i].address_components.length; j++) {
                            if (results[i].address_components[j].types[0] === 'country') {
                                return results[i].address_components[j].long_name;
                            }
                        }
                    }
                    return 'No se pudo determinar el país.';
                }

                function getCityFromGeocoderResults(results) {
                    for (var i = 0; i < results.length; i++) {
                        for (var j = 0; j < results[i].address_components.length; j++) {
                            if (results[i].address_components[j].types.includes('locality')) {
                                return results[i].address_components[j].long_name;
                            }
                        }
                    }
                    return 'No se pudo determinar la ciudad.';
                }
            </script>

            <span style="color: #f44336">{{error}}</span>
            
            <input type="submit" class="botonFormularioInicio" value="Registrarse">
        </div> 
    </form>
</section>

<section class="ingresa">
    <p>¿Ya tienes una cuenta? <a href="/login">¡Ingresá!</a></p>
</section>