<h1 class="titulo">Anime Test</h1>


<section>
<form action="/registro/validarRegistro" method="POST">
    <h3 style="text-align: center">Registrarse</h3>
    <div class="container">
        <label for="correo"><b>Direccion de Correo</b></label>
        <input type="text" placeholder="Ingrese direccion de Correo" name="correo"  required>

        <label for="password"><b>Contraseña</b></label>
        <input type="password" placeholder="Ingrese la Contraseña" name="password" required>

        <label for="password"><b>Confirmar Contraseña</b></label>
        <input type="password" placeholder="Ingrese nuevamente la Contraseña" name="confirmarPassword" required>
        <span style="color: #f44336">{{error}}</span>
        <input type="submit" class="botonFormularioInicio" value="Registrarse">
    </div>
</form>
</section>

<section>
    <p class="psw">Ya tienes una cuenta? <a href="/login">Ingresa!</a></p>
</section>

