<main>
<section class="sugerirPregunta">
<br>
<div class="div">
<h1 class="h1">¡ Bienvenido !</h1>
</div>
<form action="/sugerirPregunta/sugerirPreguntaUsuario" class="containerRegistroSugerir" method="POST">
        <h2>Ingrese a continuación la pregunta que desea sugerir para Anime Test:</h2>
        <input type="text" placeholder="Ingrese su pregunta sugerida" name="preguntaSugerida" required>
        <h2>Ingrese posibles respuestas: </h2>
        <input type="text" placeholder="Respuesta A" name="respuestaSugeridaA" required>
        <input type="text" placeholder="Respuesta B" name="respuestaSugeridaB" required>
        <input type="text" placeholder="Respuesta C" name="respuestaSugeridaC" required>
        <input type="text" placeholder="Respuesta D" name="respuestaSugeridaD" required>

        <label for="categoria"><h2>Seleccione una categoría:</h2></label>
        <select id="categoria" name="id_categoria">
        <div>
        <option value="1" name="1">POKEMON</option>
        <option value="2" name="2">SHINGEKI NO KYOJIN</option>
        <option value="3" name="3">BANANA FISH</option>
        <option value="4" name="4">DEATH NOTE</option>
        <option value="5" name="5">HAIKYUU</option>
        </div>
        </select>
    <label for="dificultad">Seleccione una dificultad:</label>
    <select id="dificultad" name="dificultad">
        <div>
            <option>FACIL</option>
            <option>MEDIA</option>
            <option>DIFICIL</option>
        </div>
    </select>
        <br>
        <label for="dificultad"><h2>Seleccione una dificultad:</h2></label>
        <select id="dificultad" name="id_dificultad">
        <div>
        <option value="1" name="1">FÁCIL</option>
        <option value="2" name="2">MEDIA</option>
        <option value="3" name="3">DIFÍCIL</option>
        </div>
        </select>
        <div id="sugerida">
        <input type="submit" class="opcionesHome2" value="Enviar">
        </div>
</form>
</section>
</main>
