<p>usuarios</p>
<img src="/public/graficos/{{graficoCantidadUsuariosPorGenero}}" alt="Usuarios por Genero">
<img src="/public/graficos/{{graficoCantidadUsuariosPorGrupoEdad}}" alt="Usuarios por Grupo Edad">
<img src="/public/graficos/{{graficoCantidadUsuariosPorPais}}" alt="Usuarios por Pais">
<div id="data-box">
<p>{{#usuarios}}</p>
    <form action="graficoAcertadasPorUsuario" method="POST">
        <input type="submit" class="user-button" data-correo="{{.}}" name="correo" value="{{.}}">
    </form>
<p>{{/usuarios}}</p>
</div>
<img src="/public/graficos/{{graficoPorcentajeAcertadasPorUsuario}}" alt="Porcentaje Acertadas por Usuario">

